# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
LOAD/clé_secrete/projet-fil-orange-477313-427efccdf36c.json
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# PyCharm
.idea/
*.iml
*.iws

# VS Code
.vscode/
.history/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Python virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Profiling data
.prof
/Scripts
# mypy
.mypy_cache/
.dmypy.json
dmypy.json
.projet_file_orange/Scripts
# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/
LOAD/clé_secrete/
# Cython debug symbols
cython_debug/
LOAD/clé_secrete/keyfile.json.json
LOAD/clé_secrete/
# dotenv environment variables file
.env

# pytest cache
.pytest_cache/

# Coverage reports
.coverage
.cache

# Local files
*.local